.button {
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

.button.primary {
    background-color: var(--primary-500);
}

.button.primary:hover {
    background-color: var(--primary-600);
}