.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #ffffff;
	width: 700px;
	margin: 10% auto;
	padding: 30px 30px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px #5c5c5c48;
}

.close-modal {
	background-color: var(--secondary-200);
	padding: 0px 8px;
	border-radius: 8px;
	border: none;
	color: #aaaaaa;
	float: right;
	margin-top: -20px;
	margin-right: -20px;
	font-size: 28px;
	cursor: pointer;
}

.close-modal:hover {
	background-color: var(--secondary-500);
}